<header class="drawer-header">
  <div class="avatar-dropdown">
    <span>{{ Instance.current() ? Instance.label() : "Select instance..." }}</span>
    <div class="mdl-layout-spacer"></div>
    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons" role="presentation">arrow_drop_down</i>
      <span class="visuallyhidden">Things</span>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
      <li class="mdl-menu__item"><i class="material-icons">search</i><a class="" href="#/search">Search</a></li>
      <li class="mdl-menu__item"><i class="material-icons">add</i><a class="" href="#/add">Add manually</a></li>
    </ul>
  </div>
</header>
<nav class="navigation mdl-navigation mdl-color--blue-grey-800">
  <div class="links" ng-include src="'template/menu.html'"></div>
  <div class="mdl-layout-spacer"></div>
  <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
</nav>
