<md-content flex layout-padding>
  <md-content layout-padding>
    <form name="addInstance">
      <md-input-container class="md-block">
        <label>IP Address</label>
        <input required name="ip" ng-model="instance.ip" ng-pattern="/^[0-9]{1,3}[.][0-9]{1,3}[.][0-9]{1,3}[.][0-9]{1,3}$/">
        <div ng-messages="addInstance.ip.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="pattern">###.###.###.### - Please enter a valid IP address.</div>
        </div>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="addInstance.$invalid">Check</md-button>
    </form>
  </md-content>
</md-content>
  
