<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="ESPstack based things manager.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Title.getTitle() }}</title>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body layout="row" ng-controller="MainCtrl" ng-cloak>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <user-avatar></user-avatar>
          <div>{{ Instance.getHostname() ? Instance.getHostname() : 'Select instance...' }}</div>
        </div>
      </md-toolbar>
      <md-list>
        <md-item ng-repeat="item in Menu.getLinks()">
          <a href="#{{item.path}}">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <div class="inset">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
              </div>
              <div class="inset">{{item.title}}
              </div>
            </md-item-content>
          </a>
        </md-item>
        <md-divider></md-divider>
      </md-list>
    </md-sidenav>
    <div layout="column" class="relative" layout-fill role="main">
      <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          <h3>
            {{ Title.getTitle() }}
          </h3>
          <span flex></span>
        </div>
      </md-toolbar>
      <md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>
          <ng-view></ng-view>
        </ui-view>
      </md-content>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script> 

    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
